@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--bg-color);
    color: var(--text-color);
}

:root {
    --bg-color: #665030;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #69b6f5;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.profile-picture {
    width: 35vh;
    margin: 4vh;
    border: solid 3.5px var(--main-color);
    border-radius: 50%;
}

.title {
    margin-top: -110px;
    text-align: center;
}

.social {
    text-align: center;
    font-size: x-large;
}

.description p {
    margin: 3vh;
    width: 49vh;
}

.contato-pagina {
    font-size: large;
}

@media only screen and (max-width: 768px) {
    .description p {
        width: 80%;
    }
}

.social-media {
    text-align: center;
}

.social-media .button a {
    display: inline-block;
    width: 45vh;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.button {
    background-color: none;
    border: solid var(--main-color);
    margin: 20px;
    transition: 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--main-color);
}

.contato {
    margin-top: 17rem;
    text-align: center;
    background-color: var(--bg-color);
}

.contato h2 {
    font-size: x-large;
    margin-bottom: 3rem;
    color: white;
}

.contato form {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    text-align: center;
}

.contato form .input-box {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: rgb(210, 211, 212);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contato form .btn {
    font-size: large;
    color: white;
    margin-top: 1rem;
    background: none;
    border-radius: 4rem;
    transition: 0.3s ease ease-in-out;
    margin-right: 1rem;
    border: solid 2px #4a94d3;
    cursor: pointer;
    width: 100%;
    /* Isso faz o botão ocupar toda a largura disponível */
    max-width: 300px;
    /* Limita a largura máxima para um tamanho razoável */
    padding: 15px 30px;
    /* Aumenta o preenchimento para um botão mais "gordo" */
}

.contato form .btn:hover {
    background-color: #4a94d3;
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--main-color);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.8rem;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
}

/* Estilo para a mensagem de erro */
#errorMessage {
    background-color: #ffe6e6;
    color: red;
    border: 2px solid red;
}

/* Estilo para a mensagem de sucesso */
#confirmationMessage {
    background-color: #e6ffe6;
    color: green;
    border: 2px solid green;
}

/* Adiciona um efeito de fade-in */
.popup.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -55%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}